/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09 30, 22, 12:53:07 PM
    @author MarcoMan
 * Youtube Channel: https://www.youtube.com/channel/UCPgcmw0LXToDn49akUEJBkQ
    Subscribe our Channel, thank you for the support!
*/

.top-form{
    -fx-background-color:#fff;
    -fx-border-color:#000;
    -fx-border-width:.4px .4px .2px .4px;
}

.semi-top-form{
    -fx-background-color:#efefef;
    -fx-border-color:#000;
    -fx-border-width:.2px .4px .4px .4px;
}

.close{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}
.close:hover{
    -fx-background-color:#ff3852;
}

.minimize{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}
.minimize:hover{
    -fx-background-color:#ddd;
}

.nav-form{
    -fx-background-color:linear-gradient(to bottom right, #444750, #696d72);
}

.shadow{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.5), 6,0,0,0);
}

.nav-btn{
    -fx-background-color:transparent;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-cursor:hand;
    -fx-alignment:CENTER-LEFT;
}

.logout-btn{
    -fx-background-color:#862727;
    -fx-background-radius:20px;
    -fx-cursor:hand;
}
.logout-btn:hover{
    -fx-background-color:#ae3f3f;
}

.white-bg{
    -fx-background-color:#fff;
    -fx-background-radius:8px;
}

.textfield{
    -fx-background-color:linear-gradient(to bottom, #efefef, #eee);
    -fx-background-radius:3px;
    -fx-border-color:linear-gradient(to bottom right, #444750, #696d72);
    -fx-border-width:.5px;
    -fx-border-radius:3px;
}
.textfield:focused{
    -fx-background-color:#fff;
    -fx-border-width:1.5px;
}

.add-btn{
    -fx-background-color:#39587f;
    -fx-background-radius:5px;
    -fx-cursor:hand;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-text-fill:#fff;
}
.add-btn:hover{
    -fx-background-color:#4171ab;
}

.update-btn{
    -fx-background-color:#326e54;
    -fx-background-radius:5px;
    -fx-cursor:hand;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-text-fill:#fff;
}
.update-btn:hover{
    -fx-background-color:#409d75;
}

.clear-btn{
    -fx-background-color:#78296b;
    -fx-background-radius:5px;
    -fx-cursor:hand;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-text-fill:#fff;
}
.clear-btn:hover{
    -fx-background-color:#a13190;
}

.delete-btn{
    -fx-background-color:#7f2636;
    -fx-background-radius:5px;
    -fx-cursor:hand;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-text-fill:#fff;
}
.delete-btn:hover{
    -fx-background-color:#b13048;
}

.search{
    -fx-background-color:#fff;
    -fx-border-color:linear-gradient(to bottom right, #444750, #696d72);
    -fx-border-width:1px;
    -fx-font-size:13px;
    -fx-padding:0px 0px 0px 28px;
    -fx-border-radius:8px;
}
.search:focused{
    -fx-border-width:2px;
}

.table-view{
    -fx-background-color:transparent;
    -fx-border-color:linear-gradient(to bottom right, #444750, #696d72);
    -fx-border-width:2px;
    -fx-border-radius:8px;
    -fx-padding:0px;
}
.table-view .table-column{
    -fx-alignment: CENTER;
}
.table-view .column-header-background{
    -fx-background-color:linear-gradient(to bottom right, #444750, #696d72);
    -fx-background-radius:8px 8px 0px 0px;
    -fx-background-insets: 0 0 0 0;
}
.table-view .column-header, .filter{
    -fx-background-color:transparent;
    -fx-size:40px;
}
.table-view .column-header .label{
    -fx-text-fill:#fff;
    -fx-font-family:"Arial";
}